*{
  margin: 0;
  padding: 0;
}
body {
  color: black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 0 auto; /*"элементы по центру контейнера"*/
  width: 100%;
}
.header {
  height: 700px;
  background: #EEEFF1;
}
.up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.logo {
  margin-right: 398px;
  font-family: 'Revalia';
  font-size: 48px;
  color: #34547A;
}
nav {
  display: block;
}
ul,li {
  display: block;
}
.items {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.items a {
  text-decoration: none;
  color: black;

}
.item {
  margin-right: 20px;
  display: flex;
}
.down {
  display: flex;
  margin-top: 162px;
  justify-content: center;
  align-items: center;
}
.picture {
  margin-right: 131px;
}
.title-big {
  font-weight: 580;
  font-size: 48px;
}
.text {
  margin-top: 60px;
}
.btn {
  margin-top: 60px;
  color: white;
width: 225px;
height: 65px;
text-transform: uppercase;
background: #34547A;
}
.btn:hover {
  background: #8CE8DD;
    }

/*----------- header end ---------------------*/

.about {
  height: 275px;
}
.title-min{
  font-weight: 500;
font-size: 32px;
text-align: center;
margin-top: 119px;
}
.text-about {
  text-align: center;
}
.all {
  height: 250px;
  background: #34547A;
}
.project {
  display: inline-block;
  padding-right: 49px;
  margin-left: 27px;
margin-top: 90px;
}
.cent {
  height: 600px;
}
.title-avtor {
font-family: 'Roboto';
font-weight: 500;
font-size: 32px;
}
.left {
  margin-left: 300px;
  margin-top: 102px;
}
.statik {

}
.photo {
  margin-left: 750px;
}
/*--------about and ------------*/

.letter {
  margin-top: 100px;
}
.title-how{
font-weight: 500;
font-size: 32px;
text-align: center;
}
.text-how {
  text-align: center;
}
.colorhow {
height: 1000px;
background: #EEEFF1
}
.photo-how {
  margin-left: 100px;
}
.work {
  padding: 20px;
  margin-left: 80px;
}
.microsoft {
  padding: 20px;
  margin-left: 250px;
}
/*--------процесс and ------------*/

.contact {
  height: 300px;
  background: #EEEFF1;
}
.title-cont {
  font-weight: 500;
font-size: 32px;
text-align: center;
margin-top: 119px;
}
.text-cont {
  text-align: center;
}
.name {
margin-left: 300px;
}
.email {
  margin-left: 300px;
}
.message {
  margin-left: 300px;
}
.but {
  color: white;
width: 225px;
height: 65px;
text-transform: uppercase;
background: #34547A;
}
